<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Contact | Eswar Neeli</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header class="hero-section">
    <nav class="navbar">
      <h1 class="logo">Esw4R</h1>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Service</a></li>
        <li><a href="22981a05c6.pdf" target="_blank">Resume</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="experience.html">Experience</a></li>
        <li><a href="contact.html" style="color:#ff5e5e; font-weight:bold;">Contact</a></li>
      </ul>
    </nav>

    <div class="hero-content">
      <div class="text-content">
        <h1>Contact</h1>
        <p class="description">You can reach me at: <br><strong>Email:</strong> eswarneeli56@gmail.com</p>
        <!--
          name:name;
          email:email;
          message:message;
            -->
        <form  method="post" style="margin-top: 20px;">
            <input type="hidden" name="_next" value="https://eswarneeli.netlify.app/" >
          <input type="text" name="name" placeholder="Your Name" class="btn secondary" style="display:block; margin-bottom:10px;" required />
          <input type="email" name="email" placeholder="Your Email" class="btn secondary" style="display:block; margin-bottom:10px;" required />
          <textarea name="message" placeholder="Your Message" rows="4" class="btn secondary" style="width: 100%; margin-bottom:10px;" required></textarea>
          <input type="submit" value="Send Message" class="btn primary" />

          {% if msg %}
            <p style="color: green; font-weight: bold;">Message sent successfully!</p>
        {% endif %}
        </form>
        
      </div>
    </div>
  </header>
</body>
</html>
